<div class="col-md-1 form-check grid-check">
  <input class="form-check-input col-check" type="checkbox" value="" id="defaultCheck1" name="" onclick="onCheckboxClick(this.name)">
</div>
<div class="col-md-1 form-check grid-check">
  <input class="form-check-input col-check" type="checkbox" value="" id="defaultCheck1" name="" onClick="onCheckboxClick(this.name)">
</div>
<div class="col-md-1 form-check grid-check">
  <input class="form-check-input col-check" type="checkbox" value="" id="defaultCheck1" name="" onClick="onCheckboxClick(this.name)">
</div>
<div class="col-md-1 form-check grid-check">
  <input class="form-check-input col-check" type="checkbox" value="" id="defaultCheck1" name="" onClick="onCheckboxClick(this.name)">
</div>
<div class="col-md-1 form-check grid-check">
  <input class="form-check-input col-check" type="checkbox" value="" id="defaultCheck1" name="" onClick="onCheckboxClick(this.name)">
</div>
<div class="col-md-1 form-check grid-check">
  <input class="form-check-input col-check" type="checkbox" value="" id="defaultCheck1" name="" onClick="onCheckboxClick(this.name)">
</div>
<div class="col-md-1 form-check grid-check">
  <input class="form-check-input col-check" type="checkbox" value="" id="defaultCheck1" name="" onClick="onCheckboxClick(this.name)">
</div>
<div class="col-md-1 no-content"></div>

<script>
  window.flag = true
  function onCheckboxClick(name) {
    const cur = document.getElementsByName(name)
    addFormValue(name);
    const buttons = document.getElementsByClassName('col-check')
    // after click -> checked
    if (cur[0].checked) { 
      for (let button of buttons) {
        if (button.name != name) {
            button.id = 'defaultCheck2'
            button.disabled = true
        }
      }
    // after click -> uncheck
    } else {
      for (let button of buttons) {
        if (button.name != name) {
          button.id = button.value === 'booked' ? 'defaultCheck2' : 'defaultCheck1'
          button.disabled = button.value === 'booked' 
        }
      }
    }
  }
</script>