<!-- <div class="col-md-1 form-check">
  <input class="form-check-input" type="checkbox" value="" id='MON-9' onclick="onCheckboxClick(this.id)">
</div>
<div class="col-md-1 form-check">
  <input class="form-check-input" type="checkbox" value="" id="defaultCheck1" >
</div>
<div class="col-md-1 form-check">
  <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
</div>
<div class="col-md-1 form-check">
  <input class="form-check-input" type="checkbox" value="whatever" id="defaultCheck2" disabled>
</div>
<div class="col-md-1 form-check">
  <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
</div>
<div class="col-md-1 form-check">
  <input class="form-check-input" type="checkbox" value="" id="defaultCheck2" disabled>
</div>
<div class="col-md-1 form-check">
  <input class="form-check-input" type="checkbox" value="" id="defaultCheck2" disabled>
</div>
<div class="col-md-1"></div> -->

  <script>
    window.flag = true
    function onCheckboxClick(id) {
      const cur = document.getElementById(id)
      const buttons = document.getElementsByClassName('form-check-input')
      // after click -> checked
      if (cur.checked) { 
        for (let button of buttons) {
          if (button.id != id) {
              button.id = 'defaultCheck2'
              button.disabled = true
          }
        }
  
      // after click -> uncheck
      } else {
        for (let button of buttons) {
          if (button.id != id) {
            button.id = button.value === 'whatever' ? 'defaultCheck2' : 'defaultCheck1'
            button.disabled = button.value === 'whatever' 
          }
        }
      }
    }
  </script>