<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
        <div class="modal-header">
          <div class="div">
            <h5 class="modal-title" id="exampleModalLongTitle">Tennis Court Name</h5>
            <p> March 1st - March 7t </p>
          </div>
          <!-- Small button groups (default and split) -->
          <div class="btn-group">
            <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Small button
            </button>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </div>
        

          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
          </button>
          <div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
              <label class="form-check-label" for="defaultCheck1">
                Default checkbox
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="defaultCheck2" disabled>
              <label class="form-check-label" for="defaultCheck2">
                Disabled checkbox
              </label>
            </div>
          </div>
        </div>
        <div class="modal-body">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-4"></div>
              <div class="col-md-2">Mon</div>
              <div class="col-md-2">Tue</div>
              <div class="col-md-2">Wed</div>
              <div class="col-md-2">Thu</div>
              <div class="col-md-2">Fri</div>
              <div class="col-md-2">Sat</div>
              <div class="col-md-2">Sun</div>
            </div>
            <div class="row">
              <div class="col-md-4">9 am - 10 am</div>
              <div class="col-md-2 form-check">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
              </div>
              <div class="col-md-2 form-check">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck2" disabled>
              </div>
              <div class="col-md-2 form-check">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
              </div>
              <div class="col-md-2 form-check">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck2" disabled>
              </div>
              <div class="col-md-2 form-check">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
              </div>
              <div class="col-md-2 form-check">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck2" disabled>
              </div>
              <div class="col-md-2 form-check">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck2" disabled>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">10 am - 11 am</div>
              <div class="col-md-2 form-check">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
              </div>
              <div class="col-md-2 form-check">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck2" disabled>
              </div>
              <div class="col-md-2 form-check">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
              </div>
              <div class="col-md-2 form-check">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck2" disabled>
              </div>
              <div class="col-md-2 form-check">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
              </div>
              <div class="col-md-2 form-check">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck2" disabled>
              </div>
              <div class="col-md-2 form-check">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck2" disabled>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">11 am - 12 pm</div>
              <div class="col-md-2 form-check">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
              </div>
              <div class="col-md-2 form-check">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck2" disabled>
              </div>
              <div class="col-md-2 form-check">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
              </div>
              <div class="col-md-2 form-check">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck2" disabled>
              </div>
              <div class="col-md-2 form-check">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
              </div>
              <div class="col-md-2 form-check">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck2" disabled>
              </div>
              <div class="col-md-2 form-check">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck2" disabled>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">12 pm - 1 pm</div>
              <div class="col-md-2 form-check">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
              </div>
              <div class="col-md-2 form-check">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck2" disabled>
              </div>
              <div class="col-md-2 form-check">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
              </div>
              <div class="col-md-2 form-check">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck2" disabled>
              </div>
              <div class="col-md-2 form-check">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
              </div>
              <div class="col-md-2 form-check">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck2" disabled>
              </div>
              <div class="col-md-2 form-check">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck2" disabled>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">1 pm - 2 pm</div>
              <div class="col-md-2 form-check">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
              </div>
              <div class="col-md-2 form-check">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck2" disabled>
              </div>
              <div class="col-md-2 form-check">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
              </div>
              <div class="col-md-2 form-check">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck2" disabled>
              </div>
              <div class="col-md-2 form-check">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
              </div>
              <div class="col-md-2 form-check">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck2" disabled>
              </div>
              <div class="col-md-2 form-check">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck2" disabled>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">2 pm - 3 pm</div>
              <div class="col-md-2 form-check">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
              </div>
              <div class="col-md-2 form-check">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck2" disabled>
              </div>
              <div class="col-md-2 form-check">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
              </div>
              <div class="col-md-2 form-check">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck2" disabled>
              </div>
              <div class="col-md-2 form-check">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
              </div>
              <div class="col-md-2 form-check">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck2" disabled>
              </div>
              <div class="col-md-2 form-check">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck2" disabled>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">3 pm - 4 pm</div>
              <div class="col-md-2 form-check">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
              </div>
              <div class="col-md-2 form-check">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck2" disabled>
              </div>
              <div class="col-md-2 form-check">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
              </div>
              <div class="col-md-2 form-check">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck2" disabled>
              </div>
              <div class="col-md-2 form-check">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
              </div>
              <div class="col-md-2 form-check">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck2" disabled>
              </div>
              <div class="col-md-2 form-check">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck2" disabled>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">4 pm - 5 pm</div>
              <div class="col-md-2 form-check">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
              </div>
              <div class="col-md-2 form-check">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck2" disabled>
              </div>
              <div class="col-md-2 form-check">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
              </div>
              <div class="col-md-2 form-check">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck2" disabled>
              </div>
              <div class="col-md-2 form-check">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
              </div>
              <div class="col-md-2 form-check">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck2" disabled>
              </div>
              <div class="col-md-2 form-check">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck2" disabled>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">5 pm - 6 pm am</div>
              <div class="col-md-2 form-check">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
              </div>
              <div class="col-md-2 form-check">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck2" disabled>
              </div>
              <div class="col-md-2 form-check">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
              </div>
              <div class="col-md-2 form-check">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck2" disabled>
              </div>
              <div class="col-md-2 form-check">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
              </div>
              <div class="col-md-2 form-check">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck2" disabled>
              </div>
              <div class="col-md-2 form-check">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck2" disabled>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">6 am - 7 am</div>
              <div class="col-md-2 form-check">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
              </div>
              <div class="col-md-2 form-check">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck2" disabled>
              </div>
              <div class="col-md-2 form-check">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
              </div>
              <div class="col-md-2 form-check">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck2" disabled>
              </div>
              <div class="col-md-2 form-check">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
              </div>
              <div class="col-md-2 form-check">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck2" disabled>
              </div>
              <div class="col-md-2 form-check">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck2" disabled>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Comfirm</button>
        </div>
    </div>
  </div>
</div>
      