<% layout('layouts/boilerplate') %>
    <div class="row">
        <h1 class="text-center">New Tennis Court</h1>
        <div class="col-6 offset-3">
            <!-- hit endpoint - app.post('/tenniscourts', async (req, res) => {} -->
            <form action="/tenniscourts" method="POST" novalidate class="validated-form">
                <div class="mb-3">
                    <label class="form-label" for="name">Name</label>
                    <input class="form-control" type="text" id="name" name="tenniscourt[name]" required>
                    <div class="valid-feedback">
                        Look good!
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="street">Street</label>
                    <input class="form-control" type="text" id="street" name="tenniscourt[street]" required>
                    <div class="valid-feedback">
                        Look good!
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-4">
                        <label class="form-label" for="city">City</label>
                        <input class="form-control" type="text" id="city" name="tenniscourt[city]" required>
                        <div class="valid-feedback">
                            Look good!
                        </div>
                    </div>
                    <div class="col-4">
                        <label class="form-label" for="state">State</label>
                        <input class="form-control" type="text" id="state" name="tenniscourt[state]" required>
                        <div class="valid-feedback">
                            Look good!
                        </div>
                    </div>
                    <div class="col-4">
                        <label class="form-label" for="zipcode">Zipcode</label>
                        <input class="form-control" type="text" id="zipcode" name="tenniscourt[zipcode]" required>
                        <div class="valid-feedback">
                            Look good!
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-6">
                        <label class="form-label" for="courtNum">Court Number</label>
                        <input class="form-control" type="number" id="courtNum" name="tenniscourt[courtNum]" required>
                        <div class="valid-feedback">
                            Look good!
                        </div>
                    </div>
                    <div class="col-6">
                        <label class="form-label" for="light">Light</label>
                        <select class="form-select" id="light" name="tenniscourt[light]">
                            <option value="No" selected>No</option>
                            <option value="Yes">Yes</option>
                        </select>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-6">
                        <label class="form-label" for="startTime">Start Time (AM)</label>
                        <select class="form-select" id="startTime" name="tenniscourt[startTime]">
                            <option value="8AM">8</option>
                            <option value="9AM" selected>9</option>
                            <option value="10AM">10</option>
                            <option value="11AM">11</option>
                        </select>
                    </div>
                    <div class="col-6">
                        <label class="form-label" for="endTime">End Time (PM)</label>
                        <select class="form-select" id="endTime" name="tenniscourt[endTime]">
                            <option value="4PM">4</option>
                            <option value="5PM">5</option>
                            <option value="6PM">6</option>
                            <option value="7PM" selected>7</option>
                            <option value="8PM">8</option>
                        </select>
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="image">Image Url</label>
                    <input class="form-control" type="text" name="tenniscourt[image]" id="image">
                </div>
                <div class="row mb-3">
                    <div class="col-6">
                        <label class="form-label" for="latitude">Latitude</label>
                        <input class="form-control" type="text" id="latitude" name="tenniscourt[latitude]">
                    </div>
                    <div class="col-6">
                        <label class="form-label" for="longitude">Longitude</label>
                        <input class="form-control" type="text" id="longitude" name="tenniscourt[longitude]">
                    </div>
                </div>
                <div class="mb-3">
                    <button class="btn btn-success">Add Tennis Court</button>
                </div>
            </form>
            <a href="/tenniscourts">All Tennis Courts</a>
        </div>
    </div>