<% layout('layouts/boilerplate') %>
<div class="container-logo">
    <img class="home-logo" src="photos/logo.png" alt="" height="30%"/>
    <form class="container-home-search" action="/tenniscourts/search" method="GET">
        <div class="input-group mb-3">
            <select class="form-select" id="search" name="find_by">
                <option value="name" selected>Search By...</option>
                <option value="name">Court name</option>
                <option value="city">City</option>
                <option value="zipcode">Zip Code</option>
            </select>
            <input type="text" class="form-control" placeholder="Find Courts Near" id="search" name="location">
            <button class="btn btn-success">Search</button>
        </div>
    </form>
    <div class="container-home-photo" id="news">
        <div>
            <img class="home-photo" src="photos/home-1.jpg" alt="" height="30%"/>
            <h5>Tennis Serve Technique</h5>
            <p>
                We all know a tennis serve is a weapon only when the technique is correct. When the serve technique is not correct, then the serve is often more a liability than an asset. Read this article and start tennis serve from here!
            </p>
            <button>Learn More</button>
        </div>
        <div>
            <img class="home-photo" src="photos/home-2.jpg" alt="" height="30%"/>
            <h5>How to Choose a Tennis Racket</h5>
            <p>
                Whether you're looking for a beginner tennis racket, or seeking a racket to give you the perfect combination of power, spin and control, this article can be your guide to finding the perfect tennis racket for every type of player. 
            </p>
            <button>Learn More</button>
        </div>
        <div>
            <img class="home-photo" src="photos/home-3.jpg" alt="" height="30%"/>
            <h5>5 Tennis Tips for Beginners</h5>
            <p>
                Are you looking to step up your tennis game this season? Whether you’re picking up a racket for the first time or just looking to brush up on the basics, we have got a detailed breakdown for you. We bring you 5 tennis tips to make sure you don’t get served out on the court!            </p>
            <button>Learn More</button>
        </div>
    </div>
</div>

<div>
    
</div>

