.display-flex {
    display: flex;
}

/* map */
#cluster-map {
    width: 100%;
    height: 230px;
}

#map {
    width: 100%;
    height: 200px;
}

.container {
    padding: 0 70px;
}

.container-search {
    padding-bottom: 15px;
    display: flex;
}

.head-logo {
    height: 150px;
}

.head-search {
    padding-left: 20px;
}

.head-search input {
    background-color: #DADADA;
}

.head-search .btn {
    background-color: #85CF4F;
    border: none;
}

.home-pic-container button {
    background-color: #85CF4F;
    border: none;
    color: white;
    padding: 3px 5px;
}

/* nav bar */
.navbar, 
.footer {
    background: #24424C;
}

.navbar-collapse a {
    color: white;
}

/* home page */

.home-search-button {
    background-color: #85CF4F;
    border: none;
}

.container-logo {
    text-align: center;
    height: 100%;
    padding-top: 30px;
}

.home-logo {
    padding-bottom: 50px;
    height:18%;
}

.home-pic-container {
    width: 250px;
}


.home-photo {
    height: 50%;
}

.container-home-photo {
    display: flex;
    text-align: center;
    justify-content: space-between;
}

.container-home-search {
    padding-bottom: 130px;
}

.home-pic-container h5 {
    height: 45px;
}

.home-pic-container p {
    height: 180px;
}

/* index page */
#index-form-search {
    margin-top: 25px;
}

#filter {
    display: flex;
    justify-content: space-evenly;
    padding-left: 300px;
    font-weight: 500;
}

.no-left-right-border {
    border-left: unset;
    border-right: unset;
    border-bottom: unset;
    border-radius: 0;
}

.pd-5 {
    padding: 50px 0;
}

#index-content {
    padding-left: 40px;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

#name-rating {
    display: flex;
}

#index-content h5 {
    font-weight: 500;
    font-size: 25px;
    color: #24424C;
    padding-bottom: 12px;
    padding-right: 15px;
}

#average-rating {
    padding: 8px 3px 8px 8px;
    font-size: 15px;
}

#total-rating {
    padding: 8px 0;
    font-size: 15px;
    color: #A9A9A9;
}

.index-button {
    display: flex;
    justify-content: flex-end;
}

.index-button a {
    margin-left: 15px;
    background-color: #85CF4F;
    border: none;
    border-radius: 0;
    font-size: 15px;
    font-weight: 600;
    padding: 8px 22px;
}

/* tenniscourt page */
.container-serach {
    display: flex;
}

.index-search {
    width: 100%;
    align-self: center;
}

.courts-image {
    height: 250px;
    width: 350px;
}

.card-content {
    display: flex;
    flex-direction: column;
}

.show-court-button {
    align-self: flex-end;
}

.show-court-button:hover {
    background-color: #77836C;
}

/* show page */
.show-background {
    background-color: rgba(133, 207, 79, 0.5);
    height: 150px;
}

#show-info-group {
    width: 75%;
}

#court-detail {
    font-size: 15px;
}

#court-address,
#court-hour {
    margin: 0;
}

#direction {
    text-align: center;
}

#show-button-group {
    flex-direction: column;
    align-content: flex-end;
    width: 25%;
    padding-top: 35px;
}

.show-button {
    margin-left: 15px;
    background-color: #85CF4F;
    border: none;
    border-radius: 0;
    font-size: 15px;
    font-weight: 600;
    padding: 8px 22px;
    color: white;
    margin-top: 12px;
}

.show-button:hover {
    background-color: #77836C;
}

#list-about,
#list-reviews,
#list-photos {
    width: 100%;
}

#about-text {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    padding: 30px 0;
}

/* user page */
.floating-card {
    /* fixed style */
    position: fixed;
    padding-top: 40px;

    /* absolute style */
    position: absolute;
    padding-top: 40px; 
}
.show-background {
    position:absolute;
    left: 0;
    right: 0;
}

.list-group-item.active {
    background-color: #24424C;
    border-color: #24424C;
}

.container-userinfo {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: 30px;
    font-weight: 600;
    padding: 20px 0 0 0;
    margin-bottom: 6px;
}

#user-name {
    padding-bottom: 80px;
}

.user-col-right {
    padding-left: 0;
}

.user-container {
    padding-left: 13px;
}

.user-image {
    height: 250px;
}

.list-group {
    text-align: center;
}

.list-group-item {
    background-color: rgba(36, 66, 76, 0.1);
    margin-bottom: 5px;
    border: none;
    height: 46px;
    font-weight: 600;
    font-size: 18px;
}

.booking-content {
    padding: 25px 0;
}

.user-bookings {
    padding-top: 200px;
}

.booking-container {
    background-color: rgba(36, 66, 76, 0.1);
    margin: 0;
    width: 700px;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;

}

.booking-content {
    display: flex;
    color: #24424C;
}

.booking-text {
    display: flex;
}

.booking-date {
    font-size: 16px;
    padding-left: 330px;
    font-weight: 600;
}

#ground {
    font-size: x-large;
    font-weight: 680;
    margin-bottom: 2px;
}

#court {
    font-size: xx-large;
    margin-bottom: 8px;
}

#time {
    font-size: medium;
    margin-bottom: 8px;
}

.booking-image {
    height: 180px;
    width: 250px;
    padding: 0 20px;
    background-size: cover;
    background-position: center;

}

.button-container {
    display: flex;
    justify-content: flex-end;
}

.booking-button {
    margin: 0 10px;
    background-color: #85CF4F;
    color: white;
    font-weight: bold;
}

/* pop up */
.modal-dialog {
    max-width: 600px;
}

.modal-content {
    border: 1px solid white;
    border-radius: 25px;
}

#hear-container {
    padding-left: 25px;
}

.close-button {
    right: 10px;
    top: 10px;
    position: absolute;
}

.modal-header {
    padding: 20px 23px 0px;
}

#exampleModalLongTitle {
    font-size: 26px;
    font-weight: bold;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

#time-period {
    font-size: 18px;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

.selection-part {
    display: flex;
    width: 45%;
    justify-content: space-between;
    padding-top: 28px;
    padding-right: 15px;    
}

.court-selector {
    width: 90px;
    height: 30px;
    margin-left: 15px;
    font-size: 14px;
    padding: 0;
    padding-left: 7px;
}

.disabled-checkbox {
    background: #C4C4C4;
}

#defaultCheck2 {
    background: #C4C4C4;
}

#line {
    color: white;
    margin: 10px 0px 5px;
}

.modal-body {
    padding: 0px 16px;
}

.modal-body2 {
    padding: 12px 16px;
}

.zero-padding {
    padding: 0;
}

.date-font {
    font-size: 13px;
    color: white;
}

.week-font {
    font-size: 12px;
    padding-left: 6px;
    color: white;
}

.schedule-background {
    background-color: rgba(133, 207, 79, 0.5);
    padding: 25px;
    padding-left: 26px;
    border: 2px solid white;
    border-radius: 20px;
}

#schedule-body {
    padding: 25px 0;
    width: 520px;
}

.schedule-time-period {
    text-align: center;
}

.row-check {
    padding: 5px 0;
    font-weight: 500;

}

.grid-check {
  padding-left: 28px;
}

.col-check {
    height: 20px;
    width: 20px;
}

.no-content {
    padding: 0;
}

.modal-footer {
    padding-right: 38px;
}

#confirm-button {
    background-color: #85CF4F;
    margin-left: 16px;
    padding: 5px 25px;
    border: none;
    border-radius: 0;
}

#close-button {
    background-color: #939393;
    padding: 5px 25px;
    border: none;
    border-radius: 0;
}

#booking-confirm-form {
    text-align: center;
}

#confirm-header {
    padding: 20px 23px 15px;
}

#confirm-ground {
    font-size: 25px;
    color: #24424C;
    font-weight: 700;
    line-height: 40px;
    margin: 5px;
}

#confirm-address {
    font-weight: 500;
    font-size: 17px;
    color: #24424C;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

.confirm-time {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 43px;
    color: #24424C;
}

#unitCourt1 {
    margin: 0;
}

#confirm-mess {
    font-size: 18px;
    font-weight: 100;
    margin-bottom: 4px;
}

.modal-footer2 {
    display: flex;
    justify-content: space-evenly;
    padding: 18px;
}

#confirm-account {
    background-color: #85CF4F;
    border: none;
    border-radius: 0;
    padding: 8px 12px;
    font-weight: 500;
    font-size: 17px;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    color: white;
}

#confirm-confirm {
    background-color: #85CF4F;
    padding: 8px 51px;
    font-weight: 500;
    border: none;
    border-radius: 0;
    font-size: 17px;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;

}

#confirm-account:hover {
    background-color: #77836C;
}

#confirm-confirm:hover {
    background-color: #77836C;
}

/* sign-in/up */
.container-login-logo {
    text-align: center;
    height: 100%;
}

.login-logo {
    height: 13%;
}

.signup-logo {
    height: 12%;
}

.sign-in-container {
    display: flex;
}

.sign-in-content {
    width: 50%;
}

.sign-in-content1 {
    padding: 37px 130px;
}

.sign-up-content1 {
    padding: 35px 130px;
}

.sign-in-content2 :first-child {
    font-weight: 400;
}

.sign-in-content2 :nth-child(2) {
    color: #939393;
    font-size: small;
}

.login-to-tenplay {
    color: #85CF4F;
    font-size: 23px
}

.login-button-fga {
    border: 1px solid black;
    border-radius: 0;
    font-weight: 700;
    font-size:15px;
    height: 45px;
}

.container-sign-in-pic {
    width: 50%;
    padding: 58px 50px;
}

.container-sign-up-pic {
    width: 50%;
    padding: 35px 50px 35px 40px;
}

.sign-in-pic {
    height: 80%;
}

.sign-up-pic {
    height: 75%;
}

.container-separator {
    padding: 6px;
}

.separator {
    display: flex;
    align-items: center;
    text-align: center;
    color: #939393;
  }
  
.separator::before,
.separator::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #939393;
}

.separator:not(:empty)::before {
    margin-right: .25em;
}

.separator:not(:empty)::after {
    margin-left: .25em;
}

.container-forgot-pw {
    font-size: small;
    padding: 13px;
}

.forgot-pw {
    padding-left: 110px;
}

.button-login {
    background-color: #85CF4F;
    border: none;
}
